body,p,ol,ul,td{font-size:12px;font-family:verdana, arial, helvetica, sans-serif}
h1{color:#000;text-shadow:#CCC 2px 2px 2px;margin:0 0 1em}
pre{background-color:#eee;font-size:11px;padding:10px}
small{font-weight:lighter;font-size:.9em;color:#777}
small,span{font-family:'Lucida Grande', sans-serif}
a{color:#0187C5;text-decoration:none}
.sprite{border:none;background-color:transparent;background-image:url(/images/sprites.png);background-repeat:no-repeat;color:transparent;overflow:hidden;text-transform:capitalize;text-indent:-9999px;padding:0}
details{padding-top:5px;color:#777}
details span,details .votes{float:left;margin-left:0;margin-right:5px;position:relative}
.description p{margin-bottom:5px}
a.logout{display:block;font-size:.9em;color:#A05555}
a.logout:hover{color:red}
a.logout .sprite{height:10px;width:12px;margin-top:-2px;vertical-align:middle;background-position:-170px -819px}
a.logout:hover .sprite{background-position:-170px -799px}
a.twitter_link{color:#5094B4}
.content{margin:10px 0}
div.logo{height:50px;background:#EEE;border-bottom-left-radius:20px;-moz-border-radius-bottomleft:20px;-webkit-border-bottom-left-radius:20px;border:#CCC 1px solid;border-top:none;border-right:5px #CCC solid;text-align:center;margin:0 0 5px;padding:15px 10px 15px 15px}
.logo a .sprite{width:175px;height:60px;background-position:-10px -10px}
.login{border-top-left-radius:20px;-moz-border-radius-topleft:20px;-webkit-border-top-left-radius:20px;border:#CCC 1px solid;border-right:5px #CCC solid;background:#EEE;margin:0;padding:15px 10px 5px 20px}
a.sign_in_with_twitter{background:none}
a.sign_in_with_twitter .sprite{width:151px;height:24px;background-position:-10px -400px}
a.sign_in_with_twitter:hover .sprite{background-position:-10px -400px}
.user_image{text-align:center}
.user_details h4{font-size:14px}
.user_votes{color:#555;font-weight:400;padding:0}
.user_votes .sprite{vertical-align:middle;width:12px;height:14px;background-position:-10px -289px}
.topics_table .votes{color:#C18705}
.votes{text-align:center;margin:0 auto}
.votes big{display:block;font-size:20px;font-weight:700;margin:0;padding:0}
.votes small{color:#9B764F}
.votes .user_image{text-align:center;border:#EEE 2px solid;background:#EEE;margin-top:-1px;font-weight:700;color:#FFBB5F}
.votes .user_votes{font-weight:700;display:inline;color:#555}
.votes form{line-height:0;margin:0;padding:0}
.votes form .sprite{width:44px;height:17px}
.vote_up .sprite{background-position:-189px -82px;margin-bottom:5px}
.vote_up:hover .sprite,.voted_up a.vote_up .sprite{background-position:-244px -82px}
.vote_down .sprite{background-position:-189px -119px;margin-top:5px}
.vote_down:hover .sprite,.voted_down a.vote_down .sprite{background-position:-244px -119px}
.mainmenu{border:#CCC 1px solid;border-right:none;margin:0;padding:0}
.mainmenu li{margin:0}
.mainmenu li h3{font-weight:700;font-size:14px;color:#555;background:#EEE;border-left:5px #EEE solid;border-right:5px #CCC solid;margin:0;padding:3px 5px 4px 15px}
.mainmenu li:hover h3,.mainmenu li:focus h3{color:#222}
.mainmenu a,.mainmenu a:visited{font-size:14px;text-decoration:none;font-weight:400;display:block;color:#555;background:#EEE;border-left:5px #EEE solid;border-right:5px #CCC solid;padding:2px 5px 3px 15px}
.mainmenu li li a,.mainmenu li li a:visited{padding-left:35px}
.mainmenu a:hover{text-decoration:none;border-right:5px #F66 solid;color:#000}
.mainmenu .active a{border-right:5px #FFF solid;border-left:5px #F66 solid;background:#FFF;color:#000;text-shadow:#CCC 1px 1px 1px}
.mainmenu .search{position:relative;font-size:12px;text-decoration:none;font-weight:400;display:block;color:#555;background:#EEE;border-left:5px #EEE solid;border-right:5px #CCC solid;padding:3px 5px 10px 35px}
.mainmenu .search input{height:18px;width:130px;padding-right:25px;z-index:1;margin:0}
.mainmenu .search .sprite{height:16px;width:16px;background-position:-170px -463px;z-index:10;margin:2px 0 0 -25px}
.filters{margin-left:5px;position:relative;border-bottom:#AAA solid 2px;z-index:1}
.filters h2{color:#555;margin-bottom:0}
.filters ul{list-style:none;position:absolute;bottom:0;right:10px}
.filters li{float:right;margin:0 2px}
.filters li a{display:block;width:auto;color:#777;text-decoration:none;z-index:10;font-weight:700;border:#FFF solid 2px;border-bottom:none;padding:5px 5px 2px}
.filters li.active a{border-top-left-radius:5px;-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;border-top-right-radius:5px;-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px;border:#AAA solid 2px;border-bottom-color:#FFF;margin-bottom:-2px;color:#000;padding:5px 10px 2px}
.filters .search{position:relative;margin-left:-2px}
.filters .search input{height:18px;width:200px;padding-right:25px;z-index:1;border:#AAA solid 2px;border-bottom:#AAA solid 2px;margin:0 0 -2px}
.filters .search .sprite{height:16px;width:16px;border:none;background-position:-170px -463px;z-index:10;margin:2px 0 0 -25px}
.pagination{margin-top:1em;width:99%}
.pagination_total{vertical-align:middle;text-align:right;background:#EEE;width:100px;color:#777;padding:10px}
.pagination_total big{display:block;font-size:2em;color:#555}
.pagination_total small{display:block;font-size:.9em;margin-top:5px}
.pagination ul{list-style:none;margin-left:10px;border-bottom:3px #DDD solid;padding:10px 5px 0}
.pagination li{font-weight:700;text-align:center;list-style:none;float:left;margin:0 5px}
.pagination li a{margin-bottom:10px;text-decoration:none;color:#F66;padding:2px 5px}
.pagination li span{display:block;height:15px;border-top:transparent 3px solid;visibility:hidden;margin:10px 0 -18px}
.pagination li.active a{background:#555;color:#FFF}
.pagination li a:hover{background:#F66;color:#FFF}
.pagination li.active span{visibility:visible;border-top-color:#000}
.pagination li:hover span{visibility:visible;color:#F66;border-top-color:#F66}
footer{border-bottom-left-radius:20px;-moz-border-radius-bottomleft:20px;-webkit-border-bottom-left-radius:20px;border-bottom-right-radius:20px;-moz-border-radius-bottomright:20px;-webkit-border-bottom-right-radius:20px;border:solid #ccc 1px;border-right:5px #CCC solid;background:#EEE;text-align:left;margin:0;padding:10px 20px}
.topics_table,.comments_table{margin-left:1%;width:99%}
.topics_table,.topics_table th,.topics_table td,.comments_table,.comments_table th,.comments_table td{border-collapse:separate;vertical-align:top}
.topics_table tr td,.comments_table tr td{border-bottom:1px dashed #AAA;padding:15px 5px 2px}
.topics_table thead,.comments_table thead{display:none}
.topics_table h2{font-size:16px;font-weight:400}
.topics_table h2 a{text-decoration:none}
.topics_table .stats{text-align:center;vertical-align:bottom}
.topics_table .stats big{font-size:20px;font-weight:700;display:block;padding:5px 0 2px}
.topic{margin-bottom:2em}
.topic_table,.comment_table{position:relative;width:99%;margin-left:1%;vertical-align:top}
.comment_table{margin-top:15px}
.topic_table td,.comment_table td{position:relative;vertical-align:top}
.topic_stats,.comment_stats{padding-right:10px}
.topic_table .actions,.comment_table .actions{font-size:.9em}
.comment{border-bottom:1px dashed #AAA;margin:20px 0 0}
.comment_form{width:98%;margin:15px 0 0 2%}
.comment_form #comment_body{width:99%;height:100px}
.comment_form .actions{width:99%}
.actions{text-align:left}
.actions form{margin:10px 0 15px}
.action{background-color:transparent;background-image:url(/images/sprites.png);background-repeat:no-repeat;border:none;font-size:1.1em;margin-right:0;color:#555;padding:1px 2px 1px 20px}
.actions .edit{background-position:-170px -702px}
.actions .edit:hover{background-position:-170px -670px}
.actions .delete{background-position:-170px -867px}
.actions .delete:hover{background-position:-170px -840px}
.button_to,.button_to input,.button_to div{cursor:pointer;display:inline}
.field_counter{padding-left:10px;font-size:1.3em;color:#AAA}
form fieldset{padding:10px}
.field{margin:5px}
.field input[disabled=disabled]{font-weight:700;font-size:1.1em;background:#EEE}
input[disabled=disabled]{background:#EEE;color:#777}
.field label{color:#777;display:block}
form .actions{text-align:right}
.save_button{color:green;font-weight:700;font-size:1.5em}
.edit_button{color:blue;font-weight:700;font-size:1.5em}
.field_with_errors{background-color:red;display:table;padding:2px}
#error_explanation{width:450px;border:2px solid red;margin-bottom:20px;background-color:#f0f0f0;padding:7px 7px 0}
#error_explanation h2{text-align:left;font-weight:700;font-size:12px;background-color:#c00;color:#fff;margin:-7px -7px 0;padding:5px 5px 5px 15px}
#error_explanation ul li{font-size:12px;list-style:square}
#ajax_message{width:700px;position:fixed;top:-15px;z-index:100;display:none}
#ajax_loading{text-align:center;position:fixed;width:700px;background:#FFF;z-index:90;top:-5px;display:none;margin:0 auto;padding:10px 0}
body.ajax_loading,body.ajax_loading *{cursor:wait}
.notice,.success,.alert,.error,.validation{border:1px solid;background-repeat:no-repeat;background-position:10px center;font-size:1.1em;position:relative;margin:10px 0;padding:15px 10px 15px 60px}
.notice{color:#00529B;background-color:#BDE5F8;background-image:url(/images/icons/info_32.png)}
.success{color:#4F8A10;background-color:#DFF2BF;background-image:url(/images/icons/tick_32.png)}
.alert{color:#9F6000;background-color:#FEEFB3;background-image:url(/images/icons/warning_32.png)}
.error{color:#D8000C;background-color:#FFBABA;background-image:url(/images/icons/stop_32.png)}
.h-scale:hover,.a-scale:active,.t-scale:target{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-o-transform:scale(1.5);transform:scale(1.5)}
.h-translate:hover,.a-translate:active,.t-translate:target{-moz-transform:translate(-10px,-10px);-webkit-transform:translate(-10px,10px);-o-transform:translate(-10px,10px);transform:translate(-10px,10px)}
.h-rotate:hover,.a-rotate:active,.t-rotate:target{-moz-transform:rotate(50deg);-webkit-transform:rotate(50deg);-o-transform:rotate(50deg);transform:rotate(50deg)}
.h-box-shadow:hover,.a-box-shadow:active,.t-box-shadow:target{-moz-box-shadow:2px 2px 2px #666;-webkit-box-shadow:2px 2px 2px #666;box-shadow:2px 2px 2px #666}
.h-multitransform:hover,.a-multitransform:active,.t-multitransform:target{-moz-transform:rotate(70deg) scale(1.5);-webkit-transform:rotate(70deg) scale(1.5);-o-transform:rotate(70deg) scale(1.5);transform:rotate(70deg) scale(1.5)}
.h-hide:hover,.a-hide:active,.t-hide:target{-webkit-transition-duration:3s;-moz-transition-duration:3s;-o-transition-duration:3s;opacity:0}
a:hover,.topics_table h2 a:hover{text-decoration:underline}
details a,.user_details h4 a,footer a,.comment_form h3{color:#555}
details .votes,details .views,.topics_table .stat_votes{color:#777}
.description ul,.description ol,.description ol li{margin-left:20px}
.user_image img,.topics_table .stats small{display:block}
.user_details h4 a:hover,.filters li a:hover,footer a:hover,.comment_form:hover h3,.action:hover{color:#000}
.topics_table .comments,.topics_table .stat_views{color:#75845C}
.comments_table tr td,.topic,.comment{padding-bottom:10px}
.topics_table tr:hover td,.comments_table tr:hover td,.comment:hover{border-bottom:1px solid #AAA}