
/** elements */
body, p, ol, ul, td {
    font-size: 12px;
    font-family: verdana, arial, helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {

}
h1 {
    color: #000;
    margin: 0 0 1em;
    text-shadow: #CCC 2px 2px 2px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

small{
    font-weight: lighter;
    font-size: .9em;
    color: #777;
}

small, span{
    font-family: 'Lucida Grande', sans-serif;
}

a {
    color: #0187C5;
    text-decoration: none;
}
a:visited {
    /*
    color: #551A8B; */
}
a:hover {
    text-decoration: underline;
}

h5 a, h2 a{
   color: #FF6666;
   font-weight: bold;
   text-decoration: none;
}
h2 a:visited{
   color: #EE6666;
}
h5 a:hover, h2 a:hover{
   color: #FFF;
   background: #FF6666;
   text-decoration: none;
}

.sprite{
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url("/images/sprites.png");
    background-repeat: no-repeat;

    color: transparent;
    overflow: hidden;
    text-transform: capitalize;
    text-indent: -9999px;
}

aside a{

}

details{
    padding-top: 5px;
    color: #777;
}
details a{
    color: #555;
}
details .votes, details .views{
    color: #777;
}
details span, details .votes{
    float: left;
    margin-left: 0px;
    margin-right: 5px;
    position: relative;
}

.description {
}
.description ul, .description ol{
    margin-left: 20px;
}
.description ol li{
    margin-left: 20px;
}
.description p{
    margin-bottom: 5px;
}
a.logout {
    display: block;
    font-size: .9em;
    color: #A05555;
}
a.logout:hover {
    color: #FF0000;
}
a.logout .sprite{
    height: 10px;
    width: 12px;
    margin-top: -2px;
    vertical-align: middle;
    background-position: -170px -819px;
}
a.logout:hover .sprite{
    background-position: -170px -799px;
}

a.twitter_link{
    color: #5094B4;
}

/** content */
.content {
    margin: 10px 0;
}

/** Logo */
div.logo{
    height: 50px;
    background: #EEE;

    border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    -webkit-border-bottom-left-radius:20px;

    border: #CCC 1px solid;
    border-top:none;
    border-right: 5px #CCC solid;

    text-align: center;
    padding: 15px 10px 15px 15px;
    margin: 0 0 5px 0;
}
.logo a .sprite{
    width: 175px;
    height: 60px;
    background-position: -10px -10px;
}

/** user */
.login {
    border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    -webkit-border-top-left-radius:20px;
    border: #CCC 1px solid;
    border-right: 5px #CCC solid;

    padding: 15px 10px 5px 20px;
    margin: 0 0 0 0px;
    background: #EEE;
}
a.sign_in_with_twitter{  
    background: none;
}
a.sign_in_with_twitter .sprite{
    width: 151px;
    height: 24px;
    background-position: -10px -400px;
}
a.sign_in_with_twitter:hover .sprite{
    background-position: -10px -400px;
}

.user {

}
.user_image {
    text-align: center;
}
.user_image img{
    display: block;
}
.user_details h4{
    font-size: 14px;
}
.user_details h4 a{
    color: #555;
}
.user_details h4 a:hover{
    color: #000;
}

.user_votes {
    color: #555;
    padding: 0;
    font-weight: normal;
}
.user_votes .sprite{
    vertical-align: middle;
    width: 12px;
    height: 14px;
    background-position: -10px -289px;
}

/** stats */
.topics_table .comments {
    color: #75845C;
}

.topics_table .votes {
    color: #C18705;
}

/** votes */
.votes {
    text-align: center;
    margin: 0 auto;
}
.votes big{
    display: block;
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.votes small{
    color: #9B764F;
}
.votes .user_image{
    text-align: center;
    border: #EEE 2px solid;
    background: #EEE;
    margin-top: -1px;
    font-weight: bold;
    color: #FFBB5F;
}

.votes .user_votes{
    font-weight: bold;
    display: inline;
    /* background: url("/images/sprites.png") -10px -288px no-repeat;
    padding-left: 12px; */
    color: #555;
}

.votes form{
    padding: 0;
    margin: 0;
    line-height: 0px;
}
.votes form .sprite{
    width: 44px;
    height: 17px;
}
.vote_up .sprite{
    background-position: -189px -82px;
    margin-bottom: 5px;
}
.vote_up:hover .sprite, .voted_up a.vote_up .sprite{
    background-position: -244px -82px;
}

.vote_down .sprite{
    background-position: -189px -119px;
    margin-top: 5px;
}
.vote_down:hover .sprite, .voted_down a.vote_down .sprite{
    background-position: -244px -119px;
}

/** mainmenu */
.mainmenu{
    margin: 0px 0;
    padding: 0 0;
    border: #CCC 1px solid;
    border-right: none
}
.mainmenu li {
    margin: 0;
}
.mainmenu li h3{
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 3px 5px 4px 15px;
    color: #555;

    background: #EEE;
    border-left: 5px #EEE solid;
    border-right: 5px #CCC solid;
}
.mainmenu li:hover h3, .mainmenu li:focus h3{
    color: #222;
}
.mainmenu a, .mainmenu a:visited{
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    display: block;
    color: #555;
    padding: 2px 5px 3px 15px;

    background: #EEE;
    border-left: 5px #EEE solid;
    border-right: 5px #CCC solid;
}
.mainmenu li li a, .mainmenu li li a:visited{
    padding-left: 35px;
}
.mainmenu a:hover{
    text-decoration: none;
    border-right: 5px #FF6666 solid;
    color: #000;
}

.mainmenu .active a{
    border-right: 5px #FFF solid;
    border-left: 5px #FF6666 solid;
    background: #FFF;/* url("/images/nav.png") center left no-repeat; */
    color: #000;
    text-shadow: #CCC 1px 1px 1px;
}

.mainmenu .search{
    position: relative;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    display: block;
    color: #555;
    padding: 3px 5px 10px 35px;

    background: #EEE;
    border-left: 5px #EEE solid;
    border-right: 5px #CCC solid;
}
.mainmenu .search input{
    margin: 0;
    height: 18px;
    width: 130px;
    padding-right: 25px;
    z-index: 1;
}
.mainmenu .search .sprite{
    height: 16px;
    width: 16px;
    margin: 2px 0 0 -25px;

    background-position: -170px -463px;
    z-index: 10;
}

/** filters */
.filters{
    margin-left: 5px;
    position: relative;
    border-bottom: #AAA solid 2px;
    z-index:1;
}
.filters h2{
    color: #555;
    margin-bottom: 0;
    /*text-shadow: #CCC 2px 2px 2px;*/
}

.filters ul{
    list-style: none;
    position: absolute;
    bottom: 0;
    right: 10px;
}
.filters li{
    float: right;
    margin: 0 2px;
}
.filters li a {
    display:block;
    width: auto;
    color:#777;
    text-decoration:none;
    padding:5px 5px 2px;
    z-index: 10;
    font-weight: bold;

    border: #FFF solid 2px;
    border-bottom: none;
}
.filters li a:hover{
    color:#000;
}
.filters li.active a {
    border-top-left-radius:5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-right-radius:5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border: #AAA solid 2px;
    border-bottom-color: #FFF;
    margin-bottom: -2px;
    padding:5px 10px 2px;
    color:#000;
}

.filters .search {
    position: relative;
    margin-left: -2px;
}
.filters .search input{
    margin: 0;
    height: 18px;
    width: 200px;
    padding-right: 25px;
    z-index: 1;
    margin-bottom: -2px;
    border: #AAA solid 2px;
    border-bottom: #AAA solid 2px;
}
.filters .search .sprite{
    height: 16px;
    width: 16px;
    margin: 2px 0 0 -25px;

    border: none;
    background-position: -170px -463px;
    z-index: 10;
}

/** Pagination http://www.dirty.ru/pages/31 */
.pagination{
    margin-top: 1em;
    width: 99%;
}
.pagination_total{
    vertical-align: middle;
    text-align: right;
    padding: 10px;
    background: #EEE;
    width: 100px;
    color: #777;
}
.pagination_total big{
    display: block;
    font-size: 2em;
    color: #555;
}
.pagination_total small{
    display: block;
    font-size: .9em;
    margin-top: 5px;
}
.pagination ul{
    list-style: none;
    margin-left: 10px;
    border-bottom: 3px #DDD solid;
    padding: 10px 5px 0;
}
.pagination li{
    font-weight: bold;
    text-align: center;
    list-style: none;
    margin: 0 5px;
    float: left;
}

.pagination li a{
    padding: 2px 5px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #FF6666;
}
.pagination li span{
    display: block;
    margin: 10px 0 -18px;
    height: 15px;
    border-top: transparent 3px solid;
    visibility: hidden;
}

.pagination li.active a{
    background: #555;
    color: #FFF;   
}
.pagination li a:hover{
    background: #FF6666;
    color: #FFF;
}
.pagination li.active span{
    visibility: visible;
    border-top-color: #000;
}
.pagination li:hover span{
    visibility: visible;
    color: #FF6666;
    border-top-color: #FF6666;
}

/** footer */
footer {
    border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    -webkit-border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    -webkit-border-bottom-right-radius:20px;

    border:  solid #ccc 1px;
    border-right: 5px #CCC solid;
    background: #EEE;
    text-align: left;
    margin: 0px 0 0 0px;
    padding: 10px 20px 10px;
}
footer a{
    color: #555;
}
footer a:hover{
    color: #000;
}

/** lists */
.topics_table,
.comments_table{
    margin-left: 1%;
    width: 99%;
}
.topics_table, .topics_table th, .topics_table td,
.comments_table, .comments_table th, .comments_table td{
    border-collapse: separate;
    vertical-align: top;
}
.topics_table tr td,
.comments_table tr td{
    padding: 15px 5px 2px;
    border-bottom: 1px dashed #AAA;
}
.comments_table tr td{
    padding-bottom: 10px;
}
.topics_table tr:hover td,
.comments_table tr:hover td{
    border-bottom: 1px solid #AAA;
}
.topics_table thead,
.comments_table thead{
    display: none;
}

.topics_table h2{
    font-size: 16px;
    font-weight: normal;
}

.topics_table .stats{
    text-align: center;
    vertical-align: bottom;
}
.topics_table .stats big{
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding: 5px 0 2px;
}

.topics_table .stats small{
    display: block;
}
.topics_table .stat_votes {
    color: #777;
}
.topics_table .stat_views{
    color: #75845C;
}


/** topic, comment */
.topic{
    margin-bottom: 2em;
}
.topic, .comment{
    padding-bottom: 10px;
}
.topic_table, .comment_table{
    position: relative;
    width: 99%;
    margin-left: 1%;
    vertical-align: top;
}
.comment_table {
    margin-top: 15px;
}
.topic_table td, .comment_table td{
    position: relative;
    vertical-align: top;
}
.topic_stats, .comment_stats{
    padding-right: 10px;
}
.topic_table .actions, .comment_table .actions {
    font-size: .9em;
}

.comment{
    margin: 20px 0 0;
    border-bottom: 1px dashed #AAA;
}
.comment:hover{
    border-bottom: 1px solid #AAA;
}

.comment_form {
    width: 98%;
    margin: 15px 0 0 2%;
}
.comment_form h3{
    color:#555;
}
.comment_form:hover h3{
    color:#000;
}
.comment_form #comment_body{
    width: 99%;
    height: 100px;
}
.comment_form .actions{
    width: 99%;
}
/** actions */
.actions {
    text-align: left;
}
.actions form {
    margin: 10px 0 15px;
}

.action {
    background-color: transparent;
    background-image: url("/images/sprites.png");
    background-repeat: no-repeat;
    border: none;
    font-size: 1.1em;
    margin-right: 0;
    padding: 1px 2px 1px 20px;
    color:#555
}
.action:hover{
    color:#000;
}
.actions .edit{
    background-position: -170px -702px;
}
.actions .edit:hover{
    background-position: -170px -670px;
}
.actions .delete{
    background-position: -170px -867px;
}
.actions .delete:hover{
    background-position: -170px -840px;
}

/** form */
.button_to, .button_to input, .button_to div{
    cursor: pointer;
    display: inline;
}
.field_counter {
    padding-left: 10px;
    font-size: 1.3em;
    color: #AAA;
}
form fieldset {
    padding: 10px;
}
.field{
    margin: 5px;
}
.field input[disabled="disabled"]{
    font-weight: bold;
    font-size: 1.1em;
    background: #EEE;
}

input[disabled="disabled"]{
    background: #EEE;
    color: #777;
}
.field label{
    color: #777;
    display: block;
}
form .actions {
    text-align: right;
}

.save_button {
    color: green;
    font-weight: bold;
    font-size: 1.5em;
}

.edit_button{
    color:blue;
    font-weight: bold;
    font-size: 1.5em;
}
.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}


#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}