

<a href="<%= login_path "twitter" %>" class="sign_in_with_twitter" title="<%= t('user.sign_in.twitter.hint') %>">
  <img class="sprite" src="/images/blank.png"
       alt="<%= t('user.sign_in.twitter.hint') %>" />
</a>
